
proxmox_api_url = "https://192.168.0.xxx:8006/api2/json"

# 書式は「ユーザー名@pam!トークンID」になります
proxmox_api_token_id     = "user@pam!terraform" 

# proxmox発行のトークン
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"