# Ansible/k8s_manifests/proxy.yaml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-velocity
spec:
  replicas: 1
  selector: { matchLabels: { app: velocity } }
  template:
    metadata: { labels: { app: velocity } }
    spec:
      containers:
        - name: velocity
          image: itzg/bungeecord
          env:
            - name: TYPE
              value: "VELOCITY"
            - name: SERVER_PORT
              value: "25565"
            # サーバーリストの定義
            # 名前:ホスト名:ポート の形式で記述
            # k8sの内部DNSで解決されるので Service名 を書けば繋がります
            - name: SERVERS
              value: "lobby:svc-lobby:25565, survival:svc-survival:25565"
            - name: TRY_TO_CONNECT
              value: "lobby" # 最初にログインする場所
            - name: FORCE_DEFAULT_SERVER
              value: "true"  # 毎回必ずロビーからスタートさせる
          ports:
            - containerPort: 25565
              name: minecraft
---
apiVersion: v1
kind: Service
metadata:
  name: svc-velocity
spec:
  selector:
    app: velocity
  type: LoadBalancer # ここだけ外部公開する (192.168.0.151)
  ports:
    - port: 25565
      targetPort: 25565
      protocol: TCP